* {
    box-sizing: border-box;
    font-size: 16px;
}

h2, h3, h4, h5, h6 {
    font-family: "Tahoma";
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
}

header h1 {
    display: inline-block;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: -100px;
    
    
}
header {
    top:0;
    left:0;
    position: fixed; 
    background-color:lightgray;
    display: block;
    /* padding: 0% 100%;  */
    height: 100px; 
    width: 100%;
    /* padding: 40px; */
    

}

header nav {
    padding-bottom: 30px; 
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* margin-top: 40px; */

}
header nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
header nav ul li{
    display: inline-block;
    margin-left: 25px;
    
}
figure {
    margin: 10%;
    
}
figcaption {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
}

.white {
    color: white;
}

.blue {
    color: darkslateblue;
    text-align: center;
    font-weight: normal;
}

.yellow {
    color: darkslategrey;
}


/* h2,
h3,
h4,
h5,
h6, */
p,
section,
form,
figure
 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-bottom: 2em; 
}

footer{
    box-sizing: border-box;
    text-align: center;
    font-size: smaller;
}

form {
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: dimgray;
    width: 400px;
    margin:auto;
    padding: 20px;
}
section form div {
    margin-bottom: 20px;
    text-align: center;
}

section p {
    text-align: center;
    font-weight: normal;
    margin-left: 200px;
    margin-right: 200px;
}
